@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* anchor */

.link {
  text-decoration: none;
  color: #0099CC;
  font-weight: bold; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }

/* map */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

/* map popup */

.mapboxgl-popup {
  max-width: 400px !important;
  min-width: 300px;
}

.mapboxgl-popup-content  {
  color: #252726;
  min-width: 50%;
  font-size: 0.7rem; 
}
  
.mapboxgl-popup-content h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  color: #e04763; 
}

.low_risk .mapboxgl-popup-content {
  border-left: 3px solid #00C851;
  border-right: 3px solid #00C851;
}

.high_risk .mapboxgl-popup-content {
  border-left: 3px solid #ff4444;
  border-right: 3px solid #ff4444;
}

.medium_risk .mapboxgl-popup-content {
  border-left: 3px solid #FF8800;
  border-right: 3px solid #FF8800;
}

.undefined .mapboxgl-popup-content {
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
}

/* map legend */

#legend {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  left: 10px;
  z-index: 1;
}

#legend h1 {
  background-color: #0099CC;
  color: white;
  font-weight: 800;
  border-radius: 3px;
}

#legend .row, #legend h1 {
  margin: 0 0 10px;
  width: 100%;
  text-align: center;
}

#legend div {
  display: inline-block;
  margin: 0.5rem;
}
 
#legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
