@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* logo */
#logo {
  height: 4rem;
  width: 9rem;
  text-align: left;
}

/* anchor */

.link {
  text-decoration: none;
  color: #0099CC;
  font-weight: bold; 
}
.link:hover {
  text-decoration: underline;
  cursor: pointer; }

.btn {
  background-color: #0099CC;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  color: white;  
}
.btn:hover {
  cursor: pointer;
  background-color: #0d47a1;
}

/* map */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

/* map popup */

.mapboxgl-popup {
  max-width: 400px !important;
  min-width: 300px;
}

.mapboxgl-popup-content  {
  color: #252726;
  min-width: 50%;
  font-size: 0.7rem; 
}
  
.mapboxgl-popup-content h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  color: #e04763; 
}

.low_risk .mapboxgl-popup-content {
  border-left: 3px solid #00C851;
  border-right: 3px solid #00C851;
}

.moderate_risk .mapboxgl-popup-content {
  border-left: 3px solid #FF8800;
  border-right: 3px solid #FF8800;
}

.high_risk .mapboxgl-popup-content {
  border-left: 3px solid #ff4444;
  border-right: 3px solid #ff4444;
}

.very_high_risk .mapboxgl-popup-content {
  border-left: 3px solid #CC0000;
  border-right: 3px solid #CC0000;
}

.undefined .mapboxgl-popup-content {
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
}

/* map toggle */

#toggle {
  top: 10px;
  right: 10px;
}

#toggle select {
  border: 1px solid #0099CC;
  font-weight: 700;
  color: white;
  font-family: "Open Sans", sans-serif;
  background: #0099CC;
}

#toggle select:hover, #toggle option:hover {
  cursor: pointer;
}

#legend, #toggle {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

/* map legend */

#legend {
  top: 10px;
  left: 10px;
  width: 500px;
  min-width: 40%;
  max-width: 40%;
  max-height: 40%;
  overflow-y: scroll;
}

/* legend on mobile view */
@media only screen and (max-width: 800px) {
  #legend {
    min-width: 100%;
    left: 0px;
    top: inherit;
    bottom: 0px;
    height: 100px;
    overflow-y: scroll;
  }
  
  #toggle {
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
    bottom: 20%;
  }
}

#legend h1 {
  /* without logo */
  /* background-color: #0099CC;
  color: white; */
  background-color: white;
  font-weight: 800;
  border-radius: 3px;
  text-align: center;
}

#legend .row, #legend h1 {
  margin: 0 0 10px;
  width: 100%;
  text-align: center;
}

#legend .row:last-of-type {
  padding: 4px 0px;
}

#legend div {
  display: inline-block;
  margin: 0.5rem;
}
 
#legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}
